<div cdkDropListGroup>
  <ion-list *ngFor="let n of nodes" class="divitem" 
    cdkDropList (cdkDropListDropped)="drop($event)">
    <ion-item detail="false" (click)="n.isExpanded = !n.isExpanded; clickNode(n)" [ngClass]="{active: n.isExpanded}" 
      (dragstart)="handleDragStart($event, n)"
      (dragover)="handleDragOver($event, n)"
      cdkDrag>
      <span class="spanCursor" *cdkDragPlaceholder>
        <ion-icon slot="start" *ngIf="n.sub" [color]="n.isExpanded ? 'primary' : 'gray'" 
          [name]="n.isExpanded ? 'ios-arrow-down' : 'ios-arrow-forward'">
        </ion-icon>
      </span>
      <ion-icon *ngIf="n.icon" [name]="(n.isExpanded && n.iconExpanded) ? n.iconExpanded : n.icon" class="iconNode" color="dark"></ion-icon>           
      {{n.title}}                         
    </ion-item>
    <!-- Recursive call -->
    <app-tree-node [nodes]="n.sub"  *ngIf="n.sub" [hidden]="!n.isExpanded" ></app-tree-node>   
  </ion-list>
</div>
